:root {
    --text-shadow-dark: rgb(13, 173, 194);
    --text-shadow-light: rgb(12, 173, 179);
    --text-gradient: rgba(255,175,75,1);
    background: -moz-linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -webkit-linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    --text-filter: filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

@font-face {
    font-family: 'NEONLights';
    src: local('NEONLights'), url(./fonts/NEON____.TTF) format('truetype');
}

.game-Body {
    margin-top: 13.5%;
    width: 100%;
    height: 100%;
}

.game-Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-Title {
    margin: 0;
    color: white;
    font-family: NEONLights, sans-serif;
    background-color: rgba(248, 250, 250, 0);
    font-size: 4rem;
    font-weight: 50;
    text-shadow:
            0 0 7px #85cae6,
            0 0 10px #069fce,
            0 0 21px #27cbe0,
            0 0 42px var(--text-shadow-dark),
            0 0 82px var(--text-shadow-dark),
            0 0 92px var(--text-shadow-dark),
            0 0 102px var(--text-shadow-dark),
            0 0 151px var(--text-shadow-dark);
}

.game-Title-Two {
    color: rgba(0, 0, 0, 0.5);
    animation: flicker 7s ease infinite;
}

.game-Won {
    margin: 0;
    color: white;
    font-family: NEONLights, sans-serif;
    background-color: rgba(248, 250, 250, 0);
    font-size: 20rem;
    font-weight: 50;
    text-shadow:
            0 0 7px #85cae6,
            0 0 10px #069fce,
            0 0 21px #27cbe0,
            0 0 42px var(--text-shadow-dark),
            0 0 82px var(--text-shadow-dark),
            0 0 92px var(--text-shadow-dark),
            0 0 102px var(--text-shadow-dark),
            0 0 151px var(--text-shadow-dark);
    animation: flickerToFull 2s infinite alternate;
}

@keyframes workingGradient {
    0% { background-position: 0% 58%; filter: drop-shadow(20px 20px 20px rgb(47, 218, 275)); }
    50% { background-position: 100% 43%; filter: drop-shadow(20px 20px 20px rgb(45, 228, 265)); }
    100% { background-position: 0% 58%; filter: drop-shadow(20px 20px 20px rgb(43, 248, 255)); }
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        text-shadow: none;
        color: rgba(7, 84, 107, 0.048);
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        color: rgb(7, 84, 107);
    }
}

@keyframes flickerToFull {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        text-shadow: none;
        color: goldenrod;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        color: rgba(218, 165, 32, 0.103);
    }
}
