:root {
    --text-shadow-dark: rgb(13, 173, 194);
    --text-shadow-light: rgb(12, 173, 179);
    --text-gradient: rgba(255,175,75,1);
    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    --text-filter: filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

@font-face {
    font-family: 'NEONLights';
    src: local('NEONLights'), url(./fonts/NEON____.TTF) format('truetype');
}

.difficulty-Selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 25%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.2);
    filter: drop-shadow(5px 5px 2px black);
}

.difficulty-Selector > h1 {
    display: none;
}

.difficulty-Selector > h2 {
    margin-right: 5%;
}

.difficulty-Button {
    font-size: 1.5rem;
    font-family: "Bahnschrift";
    font-weight: bold;
    color: white;
    padding: 15px 25px;
    background: none;
    border: 2px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    width: 10%;
    display: inline-block;
    position: relative;
    transition: all 1s ease-in-out;
}

.difficulty-Button:hover {
    font-size: 1.2rem;
    box-shadow: 0 6px 15px rgba(0, 255, 255, 0.4);
    background: linear-gradient(145deg, #a1c4fd, #c2e9fb);
    box-shadow: 0 8px 20px black;
    width: 15%;
    transition: width 0.4s ease-in-out;
}

.difficulty-Description {
    font-size: 1rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    text-align: center;
    opacity: 0;
    width: 0;
    display: inline-block;
    transition: width 1s ease, opacity 0.4s ease 0.4s;
}

.difficulty-Box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.difficulty-Box:hover + .difficulty-Button {
    box-shadow: 0 6px 15px rgba(0, 255, 255, 0.4);
    background: linear-gradient(145deg, #a1c4fd, #c2e9fb);
    box-shadow: 0 8px 20px black;
    width: 15%;
    transition: width 0.4s ease-in-out;
}

.difficulty-Box:hover + .difficulty-Button + .difficulty-Description {
    opacity: 1;
    width: 10%;
    transition: width 0.4s ease, opacity 0.4s ease 0.4s;
}

.game-Body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.game-Title {
    margin: 0;
    color: white;
    font-family: NEONLights, sans-serif;
    font-size: 4rem;
    font-weight: 50;
    text-shadow:
            0 0 7px #85cae6,
            0 0 10px #069fce,
            0 0 21px #27cbe0,
            0 0 42px var(--text-shadow-dark),
            0 0 82px var(--text-shadow-dark),
            0 0 92px var(--text-shadow-dark),
            0 0 102px var(--text-shadow-dark),
            0 0 151px var(--text-shadow-dark);
}

.game-Title-Two {
    color: rgba(0, 0, 0, 0.5);
    animation: flicker 7s ease infinite;
}

.game-Won {
    margin: 0;
    color: white;
    font-family: NEONLights, sans-serif;
    font-size: 20rem;
    font-weight: 50;
    text-shadow:
            0 0 7px #85cae6,
            0 0 10px #069fce,
            0 0 21px #27cbe0,
            0 0 42px var(--text-shadow-dark),
            0 0 82px var(--text-shadow-dark),
            0 0 92px var(--text-shadow-dark),
            0 0 102px var(--text-shadow-dark),
            0 0 151px var(--text-shadow-dark);
    animation: flickerToFull 2s infinite alternate;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        text-shadow: none;
        color: rgba(7, 84, 107, 0.048);
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        color: rgb(7, 84, 107);
    }
}

@keyframes flickerToFull {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        text-shadow: none;
        color: goldenrod;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999%, 71%, 99.999%, 51%, 52.999%, 54%, 59.999%, 66% {
        filter: drop-shadow(50px 50px 50px rgb(47, 218, 275));
        color: rgba(218, 165, 32, 0.103);
    }
}

@keyframes scaleAnimation {

    0% {

        transform: scale(1);

    }

    50% {

        transform: scale(1.1);

    }

    100% {

        transform: scale(1);

    }

}